@font-face {
    font-family: 'museo500';
    src: url('/fonts/museo/MuseoSansRounded500.otf');
}
@font-face {
    font-family: 'museo700';
    src: url('/fonts/museo/MuseoSansRounded700.otf');
}
@font-face {
    font-family: 'museo900';
    src: url('/fonts/museo/MuseoSansRounded900.otf');
}
@font-face {
    font-family: 'museo1000';
    src: url('/fonts/museo/MuseoSansRounded1000.otf');
}
@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'poppins light';
    src: url('/fonts/poppins/Poppins-Light.ttf');
}
@font-face {
    font-family: 'poppins semibold';
    src: url('/fonts/poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'nexa';
    src: url('/fonts/nexa/NexaRegular.otf');
}
@font-face {
    font-family: 'nexa light';
    src: url('/fonts/nexa/NexaLight.otf');
}
@font-face {
    font-family: 'nexa bold';
    src: url('/fonts/nexa/NexaBold.otf');
}